<mat-toolbar>
  <button mat-button aria-label="Menu icon" [routerLink]="['/']">
    <mat-icon> energy_savings_leaf </mat-icon>
    App
  </button>
  <span class="flex flex-auto"></span>
  <button mat-button aria-label="Music icon" [routerLink]="['/music']">
    <mat-icon> music_note </mat-icon>
    Music
  </button>
  <button mat-button aria-label="Logout" *ngIf="!authData.isAuthenticated" (click)="login()">
    <mat-icon> login </mat-icon>
    Login
  </button>
  <button
    mat-button
    aria-label="Music icon"
    *ngIf="authData.isAuthenticated"
    [routerLink]="['/settings']"
  >
    <mat-icon> settings </mat-icon>
    Settings
  </button>
  <button mat-button aria-label="Login" *ngIf="authData.isAuthenticated" (click)="logout()">
    <mat-icon> logout </mat-icon>
    Logout
  </button>
</mat-toolbar>
