<mat-toolbar>
  <button mat-button aria-label="Menu icon" [routerLink]="['/']">
    <mat-icon> energy_savings_leaf </mat-icon>
    <span class="nav-item-text hidden md:inline">App</span>
  </button>
  <span class="flex flex-auto"></span>
  <button mat-button aria-label="History icon" [routerLink]="['/history']">
    <mat-icon>history</mat-icon>
    <span class="nav-item-text hidden md:inline">History</span>
  </button>
  <button mat-button aria-label="Music icon" [routerLink]="['/music']">
    <mat-icon> music_note </mat-icon>
    <span class="nav-item-text hidden md:inline">Music</span>
  </button>
  <button mat-button aria-label="Logout" *ngIf="!authData.isAuthenticated" (click)="login()">
    <mat-icon> login </mat-icon>
    <span class="nav-item-text hidden md:inline">Login</span>
  </button>
  <button
    mat-button
    aria-label="Music icon"
    *ngIf="authData.isAuthenticated"
    [routerLink]="['/settings']"
  >
    <mat-icon> settings </mat-icon>
    <span class="nav-item-text hidden md:inline">Settings</span>
  </button>
  <button mat-button aria-label="Login" *ngIf="authData.isAuthenticated" (click)="logout()">
    <mat-icon> logout </mat-icon>
    <span class="nav-item-text hidden md:inline">Logout</span>
  </button>
</mat-toolbar>
