<div class="h-[calc(100vh-5rem)] overflow-scroll">
  <div *ngIf="isLoading" class="mt-4 flex justify-center">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="flex flex-wrap space-x-1 space-y-1 justify-center">
    <div *ngFor="let history of historyList" class="flex">
      <mat-card class="history-card" appearance="outlined">
        <mat-card-header>
          <mat-card-subtitle> {{ history.history.lastModified }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-lg-image [src]="history.history.presignedUrl" alt="Image" />
        </mat-card-content>
      </mat-card>
      <br />
    </div>
  </div>
</div>
