<div class="max-w-4xl mx-auto px-4 py-2 bg-white shadow-lg rounded-lg mt-4">
  <app-music-player [url]="currentMusic?.presignedUrl" [title]="currentMusic?.title" />
</div>

<div class="h-[calc(100vh-5rem)] overflow-scroll mt-4">
  <div *ngIf="isLoading" class="mt-4 flex justify-center">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="flex flex-wrap space-x-1 space-y-1 justify-center">
    <div *ngFor="let history of historyList" class="flex">
      <mat-card class="history-card" appearance="outlined">
        <div class="flex flex-row">
          <div>
            <img
              [src]="history.imageUrl"
              alt="Image"
              class="rounded-l-xl max-w-[200px] w-[200px] max-h-[150px] h-[150px] opacity-70 hover:opacity-100"
            />
          </div>
          <div class="p-2">
            <div class="flex flex-col space-y-2">
              <button mat-button>
                {{ history.date }}
              </button>
              <button *ngIf="history.username" mat-button>
                {{ history.username }}
              </button>
              <button *ngIf="history.musicId" mat-button (click)="onPlayMusic(history.musicId)">
                Play Music
              </button>
            </div>
          </div>
        </div>
      </mat-card>
      <br />
    </div>
  </div>
</div>
