<div class="h-[calc(100vh-5rem)] overflow-scroll">
  <div *ngIf="isLoading" class="mt-4 flex justify-center">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="flex flex-wrap space-x-1 space-y-1 justify-center">
    <div *ngFor="let history of historyList" class="flex">
      <mat-card class="history-card" appearance="outlined">
        <div class="flex flex-row">
          <div>
            <img
              [src]="history.imageUrl"
              alt="Image"
              class="rounded-l-xl max-w-[200px] w-[200px] max-h-[150px] h-[150px] opacity-70 hover:opacity-100"
            />
          </div>
          <div class="p-2">
            <div class="flex flex-col space-y-2">
              <div
                class="flex px-2 py-1 text-sm font-bold text-nowrap text-gray-500 bg-gray-100 rounded-xl hover:bg-gray-300"
              >
                {{ history.date }}
              </div>
              <div
                *ngIf="history.username"
                class="flex px-2 py-1 text-sm font-bold text-nowrap text-gray-500 bg-gray-100 rounded-xl hover:bg-gray-300"
              >
                <span
                  style="
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: rgb(11, 141, 11);
                  "
                  class="self-center mr-1"
                ></span>
                {{ history.username }}
              </div>
              <div
                *ngIf="!history.username"
                class="flex px-2 py-1 text-sm font-bold text-nowrap text-gray-500 bg-gray-100 rounded-xl hover:bg-gray-300"
              >
                <span
                  style="width: 8px; height: 8px; border-radius: 100%; background-color: red"
                  class="self-center mr-1"
                ></span>
                UnknownUser
              </div>
            </div>
          </div>
        </div>
      </mat-card>
      <br />
    </div>
  </div>
</div>
