<div class="max-w-4xl mx-auto px-4 py-4 bg-white shadow-lg rounded-lg">
  <form (ngSubmit)="onSubmitMusic()">
    <div class="flex flex-row justify-between">
      <div class="flex justify-center self-center">
        <input hidden (change)="onFileChange($event)" #fileInput type="file" />
        <button mat-raised-button type="button" (click)="fileInput.click()" class="self-center">
          Choose Music
        </button>
        <div class="ms-2 text-sm font-medium text-gray-700 self-center">{{ musicFile?.name }}</div>
      </div>
      <div class="flex justify-center self-center">
        <button mat-button type="submit" [disabled]="!musicBase64">
          <mat-icon>cloud_upload</mat-icon>
          Upload
        </button>
      </div>
    </div>
  </form>
</div>

<div class="max-w-4xl mx-auto px-4 py-2 bg-white shadow-lg rounded-lg mt-4">
  <app-music-player [url]="currentMusic.presignedUrl" [title]="currentMusic.title" />
</div>

<div *ngIf="isLoading" class="mt-4 flex justify-center">
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="(musicList$ | async) && !isLoading"
  class="max-w-4xl mx-auto px-4 py-2 bg-white shadow-lg rounded-lg mt-4"
>
  <div
    *ngFor="let music of musicList"
    class="flex items-center p-2 bg-gray-100 rounded-lg mb-2 space-x-2"
  >
    <div class="flex px-2 py-1 text-gray-700 mr-auto">{{ music.title }}</div>
    <div
      (click)="onSetUserSettingsMusicId(music)"
      class="flex px-2 py-1 bg-gray-200 text-gray-700 rounded-lg hover:text-yellow-200 hover:bg-gray-400 transition"
      [ngClass]="{ 'bg-pink-400': music.musicId === userSettingsMusicId }"
    >
      <mat-icon> favorite </mat-icon>
    </div>
    <div
      (click)="onDeleteMusic(music)"
      class="flex px-2 py-1 bg-gray-200 text-gray-700 rounded-lg hover:text-amber-700 hover:bg-gray-400 transition"
    >
      <mat-icon>delete</mat-icon>
    </div>
    <div
      (click)="onPlayMusic(music)"
      class="flex px-2 py-1 bg-gray-200 text-gray-700 rounded-lg hover:text-green-700 hover:bg-gray-400 transition"
    >
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>
</div>
