<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
  <form (ngSubmit)="onSubmitMusic()">
    <div class="flex justify-center">
      <button mat-raised-button type="button" (click)="fileInput.click()">Choose Music</button>
      <input hidden (change)="onFileChange($event)" #fileInput type="file" />
      <div class="ms-2 self-center">{{ musicFile?.name }}</div>
    </div>

    <div class="flex justify-center">
      <button mat-button type="submit" [disabled]="!musicBase64">
        <mat-icon>cloud_upload</mat-icon>
        Upload
      </button>
    </div>
  </form>
</div>

<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-4">
  <div class="flex justify-between items-center">
    <audio
      #audioPlayerRef
      src="currentMusic?.music.presignedUrl"
      (loadedmetadata)="onLoadedMetadata()"
      (timeupdate)="onTimeUpdate()"
    >
      <source [src]="currentMusic.music.presignedUrl" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    <div class="flex flex-row">
      <label for="timeRange" class="mr-2 text-sm text-nowrap font-medium text-gray-700 self-center">
        Time: {{ currentMusic.currentTime * 1000 | date: 'mm:ss' }} /
        {{ currentMusic.duration * 1000 | date: 'mm:ss' }}
      </label>
      <mat-slider min="0" [max]="currentMusic.duration" value-indicator-width="0">
        <input
          matSliderThumb
          [(ngModel)]="currentMusic.currentTime"
          (input)="onInputTimeChange($event)"
        />
      </mat-slider>
    </div>
    <div class="flex flex-row">
      <label
        for="volumeRange"
        class="mr-2 text-sm text-nowrap font-medium text-gray-700 self-center"
      >
        Volume: {{ currentMusic.volume * 100 | number: '1.0-0' }}%
      </label>
      <mat-slider min="0" max="1" step="0.01" value-indicator-width="0">
        <input
          matSliderThumb
          [(ngModel)]="currentMusic.volume"
          (input)="onInputVolumeChange($event)"
        />
      </mat-slider>
    </div>
    <button mat-mini-fab (click)="togglePlay()" [disabled]="!currentMusic.music.presignedUrl">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="isLoading" class="mt-4 flex justify-center">
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="(musicList$ | async) && !isLoading"
  class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-4"
>
  <div
    *ngFor="let music of musicList"
    class="flex items-center p-2 bg-gray-100 rounded-lg mb-2 space-x-2"
  >
    <div class="flex px-2 py-1 text-gray-700 mr-auto">{{ music.title }}</div>
    <div
      (click)="onSetUserSettingsMusicId(music)"
      class="flex px-2 py-1 bg-gray-200 text-gray-700 rounded-lg hover:text-yellow-200 hover:bg-gray-400 transition"
      [ngClass]="{ 'bg-pink-400': music.musicId === userSettingsMusicId }"
    >
      <mat-icon> favorite </mat-icon>
    </div>
    <div
      (click)="onDeleteMusic(music)"
      class="flex px-2 py-1 bg-gray-200 text-gray-700 rounded-lg hover:text-amber-700 hover:bg-gray-400 transition"
    >
      <mat-icon>delete</mat-icon>
    </div>
    <div
      (click)="onPlayMusic(music)"
      class="flex px-2 py-1 bg-gray-200 text-gray-700 rounded-lg hover:text-green-700 hover:bg-gray-400 transition"
    >
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>
</div>
