<div *ngIf="isLoading" class="flex justify-center">
  <mat-spinner></mat-spinner>
</div>

<div
  *ngIf="(userSettings$ | async) && !isLoading"
  class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg"
>
  <form (ngSubmit)="onSubmitUserSettings()">
    <h2 class="text-2xl font-semibold text-center mb-2">Update User Settings</h2>
    <div class="flex justify-center">
      <mat-form-field>
        <mat-label> email </mat-label>
        <input matInput type="email" id="email" name="email" [(ngModel)]="userSettings.email" />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <mat-form-field>
        <mat-label> username </mat-label>
        <input
          matInput
          type="username"
          id="username"
          name="username"
          required
          [(ngModel)]="userSettings.username"
        />
      </mat-form-field>
    </div>

    <div class="flex justify-center">
      <button mat-button type="submit" [disabled]="!userSettings.username">Update Settings</button>
    </div>
  </form>
</div>

<div
  *ngIf="(headshotUrl$ | async) !== null && !isLoading"
  class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-4"
>
  <form (ngSubmit)="onSubmitHeadshot()">
    <div class="space-y-2">
      <div class="flex justify-center">
        <img
          *ngIf="headshotUrl"
          [src]="headshotUrl"
          alt="Current Headshot"
          class="h-32 rounded-xl"
        />
      </div>
      <div class="flex justify-center">
        <button mat-raised-button type="button" (click)="fileInput.click()">Choose Headshot</button>
        <input hidden (change)="onFileChange($event)" #fileInput type="file" />
        <div class="ms-2 self-center">{{ headshotFile?.name }}</div>
      </div>

      <div class="flex justify-center">
        <button mat-button type="submit" [disabled]="!headshotBase64">
          <mat-icon>cloud_upload</mat-icon>
          Upload
        </button>
      </div>
    </div>
  </form>
</div>
